<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Tasty Burgers!</h1>
            <p class="lead text-center">Add burgers to the list and then click the Devour It button to eat it!</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body text-center">
            <h2>Add a Burger</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="addedBurger">Burger Name:</label>
                    <input type="text" id="addedBurger" name="name">

                    <button type="submit" class="btn-dark">Add Burger</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card buffer-top">
                <div class="card-body">
                    <h5 class="card-title">Burgers to be Eaten</h5>
                    <p class="card-text">
                        <ul>
                            {{#each burgers}}
                            {{#unless devoured}}
                            {{> burgers/burger-block devoured=true}}
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card buffer-top">
                <div class="card-body">
                    <h5 class="card-title">Burgers that have been Eaten</h5>
                    <p class="card-text">
                        <ul>
                            <ul>
                                {{#each burgers}}
                                {{#if devoured}}
                                {{> burgers/burger-block devoured=false}}
                                {{/if}}
                                {{/each}}
                            </ul>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>



</div>